#main.front
  #header
    DrShoggoth.net
  %a{ href: '/trex' }
    #demo.trex
      .tag
        T-Rex
  %a{ href: '/vapors' }
    #demo.vapors
      .tag
        Vapors
  #footer
    %span.name
      Jeremy J. Brenner -- 
    %a{ href: "mailto:jeremyjbrenner@gmail.com?Subject=DrShoggoth.net", target: "_new" }
      %i.icon-envelope
    %a{ href: "https://plus.google.com/u/0/108247630858062450088/posts", target: "_new" }
      %i.icon-google-plus-sign
    %a{ href: "https://www.facebook.com/jeremyjbrenner", target: "_new" }
      %i.icon-facebook-sign
    %a{ href: "https://github.com/jeremy-brenner/", target: "_new" }
      %i.icon-github-sign

