#main.vapors
  %a.tag{ href: "/" }
    %i.icon-chevron-left
    Back
  %br
  %a.tag{ href: "https://github.com/jeremy-brenner/drshoggoth/blob/master/app/assets/javascripts/jquery.vapors.js.coffee", target: "_new" }
    %i.icon-github-sign
    Source